<th class="text-center">
<span class="badge badge-result badge-info">Q</span>
<span class="badge badge-result badge-warning">R</span>
<span class="badge badge-result badge-success">P</span>
<span class="badge badge-result badge-important">F</span>
<span class="badge badge-result badge-inverse">E</span></th>
