/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

i[class^="icon-"]:before {
  display: inline-block;
  text-decoration: none;
}

.nav-stacked-tight > li > a {
  padding: 2px 15px;
}
