// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-test-asset {
  width: 300px;
}

.sidebar {
  position: fixed;
  padding-top: 20px;
}

.log-command {
  background-color: #dff0d8;
}

.log-stdout {
  background-color: #d9edf7;
}

.log-stderr {
  background-color: #f2dede;
}
