.badge-result {
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999999;
    width: 30px;
    display: inline-block;
    text-align: center;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.badge-count-0 {
    opacity: 0.2;
}

.label,
.badge {
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999999;
}

.label {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.badge {
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label:empty,
.badge:empty {
    display: none;
}

a.label:hover,
a.label:focus,
a.badge:hover,
a.badge:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.label-important,
.badge-important {
    background-color: #b94a48;
}

.label-important[href],
.badge-important[href] {
    background-color: #953b39;
}

.label-warning,
.badge-warning {
    background-color: #f89406;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.label-success,
.badge-success {
    background-color: #468847;
}

.label-success[href],
.badge-success[href] {
    background-color: #356635;
}

.label-info,
.badge-info {
    background-color: #3a87ad;
}

.label-info[href],
.badge-info[href] {
    background-color: #2d6987;
}

.label-inverse,
.badge-inverse {
    background-color: #333333;
}

.label-inverse[href],
.badge-inverse[href] {
    background-color: #1a1a1a;
}

.label-project {
    background-color: white;
    color: black;
    border: 1px rgb(200,200,200) solid;
}

.label-project a {
    background-color: white;
    color: black;
}
