.usage-charts text {
  font: 12px sans-serif;
}

.usage-charts path,
.usage-charts line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.project-state-chart .pass-line {
  fill: none;
  stroke: green;
  stroke-width: 2px;
}

.project-state-chart .fail-line {
  fill: none;
  stroke: red;
  stroke-width: 2px;
}

.project-state-chart .error-line {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
